.item {
    .input {
        width: 100%;
        box-sizing: border-box;
        // height: 1.4em;
        border: none;
        font-family: inherit;
        vertical-align: middle;
        // outline: 1px solid rgba(0,0,0,.4);
        // resize: none;

        padding: .5rem;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
}